body{
  background: #ebebeb;
}
#landing{
  /* padding-left: 40%; */
}
#home, #invullen{
  padding-left: 40px;
}
#leave{
  position: absolute;
  bottom: 40px;
  left: 40px;
}
#online_card{
  background: white;
width: calc(100% - 40px);
border-radius: 10px;
padding: 20px;
box-sizing: border-box;
}
body{
  min-height: 0 !important;
}
