body{
  background: #ebebeb;
}
#landing{
  /* padding-left: 40%; */
}
#home, #invullen, #waiting, #lastCount, #round, #sleepingRound{
  padding-left: 40px;
}
#leave{
  position: absolute;
  bottom: 40px;
  left: 40px;
}
#online_card, #ready_card{
  background: white;
width: calc(100% - 40px);
border-radius: 10px;
padding: 20px;
box-sizing: border-box;
}
body{
  min-height: 0 !important;
}
.green{
  color: rgb(76,175,80);
}
#countdown{
  color: rgb(76,175,80);
  font-size: 2em;
  position: absolute;
  bottom: 40px;
  left: 40px;
}
.user{
  /* width:80%; */
  background: #eee;
  display: block;
  padding: 10px;
  margin-bottom:5px;
  border-radius:5px;
}
#first_player, #current_player{
  color: rgb(76, 175, 80);
}
.roundCard{
  margin-top: 100px;
}
#termCard{
  text-align: center;
  /* width: 90%; */
  /* background: #eee; */
  font-size: 2em;
  color: rgb(76, 175, 80);
  margin: 0 auto;
  margin-left: -40px;
  margin-top: 100px;
  margin-bottom: 100px;
}
